@import url(https://fonts.googleapis.com/css?family=Ropa+Sans);
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

/*Text*/
H2 {font-family: 'Ropa Sans', sans-serif; 
    font-size: 22px; 
    color: #00A978;
    text-align: center
}

H3 {font-family: 'Ropa Sans', sans-serif; 
    font-size: 22px; 
    color: white;
    text-align: center
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    text-align-last: right;
}

/*Menu bar*/
#logo{
    height:200px;
    background-color:white;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
}

#logoPNG{
    height:160px;
    align-content: center
}

#tagline{
    height:100px;
    background-color:white;
    padding-top:70px;
}

#menu{
    height:200px;
    background-color:lightblue; 
}

#menuVerstedelijking{
    height:100px;
    background-color:#C7705C;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}

#rechtsboven{
    height:100px;
    background-color:#00A978;  
}

#menuKlimaat{
    height:100px;
    background-color:#F0AD27; 
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}

#rechtsonder{
    height:100px;
    background-color:#74388F; 
}

#iconVerstedelijking{
    height:80px;
    background-color:#C7705C;
}

#iconKlimaat{
    height:80px;
    background-color:#F0AD27;
}

/*Leaflet block*/
#map{
    height:500px;
    background-color:dimgrey;  
}

/*#mapsGD{
    height:400px;
    background-color:lightgrey;  
}*/

#introMRD{
    height:300px;
    background-color:lightgrey;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px
}

#introGD{
    height:300px;
    background-color:dimgrey;  
    padding-top:30px;
}

/*Content*/
#klimaatInhoud{
    height:300px;
    background-color:#F0AD27;
    padding-top:30px;
}

#content1{
    height:300px;
    background-color:black; 
    color: white;
}

#MississippiLandLoss{
    height:300px;
    background-color:#87C4A5;
    padding:0
}

#MississippiGIF{
    height:250px;
    background-color:#87C4A5;  
}

#content3{
    height:300px;
    background-color:black;
    color: white;
}

#content4{
    height:150px;
    background-color:#F6CA7F;  
}

#ondergrondInhoud{
    height:150px;
    background-color:#00A978;  
    padding-top:30px;
}

#content5{
    height:150px;
    background-color:#9E7BB2;  
}

#content6{
    height:150px;
    background-color:#D9A08E;  
}

#verstedelijkingInhoud{
    height:150px;
    background-color:C7705C;
}

/*Leaflet map
#map { 
  height: 500px; 
  width:100%;
} */
