@import url(https://fonts.googleapis.com/css?family=Ropa+Sans);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

/*Text*/
H2 {font-family: 'Ropa Sans', sans-serif; 
    font-size: 22px; 
    color: #74388f;
    text-align: center
}

H3 {font-family: 'Ropa Sans', sans-serif; 
    font-size: 40px; 
    color: white;
    text-align: center
}

H4 {font-family: 'Ropa Sans', sans-serif; 
    font-size: 16px; 
    color: white;
    text-align: center
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    text-align-last: left;
    padding-top: 16px;
}
/*.tests {
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    text-align-last: left;
}*/

#footer {
    color: black;
}

/*Menu bar*/
#logo{
    height:200px;
    background-color:white;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
}

#logoPNG{
    height:160px;
    align-content: center
}

#tagline{
    height:100px;
    background-color:white;
    padding-top:80px;
}

#menu{
    height:200px;
    background-color:lightblue; 
}

#menuDelta{
    height:200px;
    background-color:#C7705C;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}

#menuSocio{
    height:200px;
    background-color:#00A978;  
}

#iconVerstedelijking{
    height:80px;
    background-color:#C7705C;
}

/*Leaflet block*/
#map{
    height:500px;
    background-color:dimgrey;  
}

/*#mapsGD{
    height:400px;
    background-color:lightgrey;  
}*/

#introduction {
    height:300px;
    background-color:#F0AD27;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px
}

#transboundaryInfogr{
    height:300px;
    background-color:dimgrey;  
    padding-top:30px;
}

/*Content*/
#deltaText{
    height:300px;
    background-color:#00A978;
    padding-top:30px;
}

#content1{
    height:300px;
    background-color:black; 
    color: white;
}

#MississippiLandLoss{
    height:300px;
    background-color:#87C4A5;
    padding:0;
    text-align: center;
}

#MississippiGIF{
    height:250px;
    background-color:#87C4A5;  
}

#content3{
    height:300px;
    background-color:black;
    color: white;
}

#content4{
    height:150px;
    background-color:#F6CA7F;  
}

#socioText{
    height:150px;
    background-color:#C7705C;  
    padding-top:30px;
}

#content5{
    height:150px;
    background-color:#9E7BB2;  
}

#content6{
    height:150px;
    background-color:#D9A08E;  
}

#verstedelijkingInhoud{
    height:150px;
    background-color:C7705C;
}

/*Leaflet map
#map { 
  height: 500px; 
  width:100%;
} */

.legend {
    line-height: 18px;
    color: #555;
    background-color: white;
    padding: 8px;
    opacity: 0.9;
    border-radius: 2px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/*Scroll to top */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #74388f; 
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #9e7bb2; /* Add a dark-grey background on hover */
}

#logoScroll {
    padding-right: 2.5px;
}